.user-bubble {
    background-color: #D6EAF8;
    color: #154360;
    padding: 10px 15px;
    border-radius: 15px 15px 0 15px;
    margin: 5px 0;
    text-align: right;
    display: inline-block;
    max-width: 75%;
    float: right;
    clear: both;
}

.bot-bubble {
    background-color: #E9F7EF;
    color: #1B4D3E;
    padding: 10px 15px;
    border-radius: 15px 15px 15px 0;
    margin: 5px 0;
    text-align: left;
    display: inline-block;
    max-width: 75%;
    float: left;
    clear: both;
}


/* Timestamp styling */
.timestamp {
    font-size: 0.7em;
    color: gray;
    display: block;
    margin-top: 3px;
}